{%if style == '01'%}
<div class="swiper-nav swiper-button-next"><svg class="icon-svg"><use xlink:href="#ic-chevron-right"></use></svg></div>
<div class="swiper-nav swiper-button-prev"><svg class="icon-svg" style="transform:scaleX(-1);"><use xlink:href="#ic-chevron-right"></use></svg></div>
{%else%}
  <div class="swiper-nav swiper-button-next"><svg class="icon-svg"><use xlink:href="#ic-chevron-right"></use></svg></div>
  <div class="swiper-nav swiper-button-prev"><svg class="icon-svg" style="transform:scaleX(-1);"><use xlink:href="#ic-chevron-right"></use></svg></div>
{%endif%}