<div class="collection-wrapper">
	<div class="collection-head">
		<div class="container">
			{%comment%}
			<div class="action-wrapper">
				<div class="count-wrapper">
					<span class="text">Bộ lọc: </span>
					<span class="count js-ResultCount d-none">Đã tìm thấy <span>1.748</span> sản phẩm phù hợp</span>
				</div> 
			</div>
			{%endcomment%}
			<div class="collection-title">
				<h1>{%if collection.handle == 'all'%}Tất cả sản phẩm{%else%}{{collection.title}}{%endif%}</h1>	
			</div>
			<div class="refinement-wrapper" data-style-filter="horizontal">
				<div class="layered-filter--filters-wrapper">
					<div class="collection-filter">{% include 'collection-filter'%}</div>
				</div>
				<div class="layered-filter--tags-wrapper js-filter-choose d-none">
					<div class="layered-filter--applied">
						<div class="title"><span>Đã chọn:</span></div>
						<div class="filter-tag--remove-all"><span>XOÁ LỌC</span></div>
					</div>
					<div class="layered-filter--tags"></div>
				</div>	
			</div>
		</div>
	</div>
	<div class="collection-body js-body-grid-4">
		<div class="container">
			<div class="grid-section">
				<div class="gridcount-section">				
					<div class="filter-wrapper--grid ajax-render">
						{%- if collection.products.size == 0 -%}  
						<div class="grid-empty alert-info">Chưa có sản phẩm nào trong danh mục này</div>
						{%- else -%}
						<div class="grid-products">		
							{%-for i in (1..18)-%}
							<div class="product-tile product-loop product-loading {{forloop.index}}">{% include 'product-loop-loading' %}</div>
							{%-endfor-%}
						</div>
						{%-endif-%}
					</div>
					<div class="actions-wrapper--row collection-pagi d-none" data-current="" data-pages="">
						{%- include 'pagination-default' -%}
					</div>
				</div>
			</div>
		</div>
	</div>
	{%-if checkEmpty != '' and collection.handle != 'all'-%}
	<div class="description-wrapper">
		<div class="container">
			<div class="description-content expandable-toggle opened">
				<div class="expandable-detail" style="height: 455px; overflow: hidden;">{{content}}</div>
				<div class="expandable-action">
					<button class="expandable-action_toggle js_expandable_content">
						<span class="expandable-action_toggle-text">Xem thêm</span>
						<span class="expandable-action_toggle-icon"><svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6.5 9.10547L12.5 15.1055L18.5 9.10547" stroke="#000102" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg></span>
					</button>
				</div>
			</div>
		</div>
	</div>
	{%-endif-%}
</div>
<div class="collection-filter--mb">
  		<a href="#" class="overlay overlay-filter-mb"></a>
  		<div class="sidebar-tab">
				<div class="sidebar-tabnav">
					<h4>BỘ LỌC</h4>
					<button class="close-sidebar" data-id="sidebar-filtermb"><svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M18 6.5L6 18.5M6 6.5L18 18.5" stroke="#000102" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg></button>
				</div>
  			<div class="sidebar-tablist">
					<div class="sidebar-boxscrol">
						<div class="sidebar-box filter-group" id="sidebar-box--mb-color"></div>
						<div class="sidebar-box filter-group" id="sidebar-box--mb-metal"></div>
						<div class="sidebar-box filter-group" id="sidebar-box--mb-size"></div>
						<div class="sidebar-box filter-group" id="sidebar-box--mb-price"></div>
						<div class="sidebar-box filter-group" id="sidebar-box--mb-fit"></div>
						<div class="sidebar-box filter-group" id="sidebar-box--mb-sort"></div>
					</div>
  			</div>
  		</div>
  	</div> 