{%- if settings.collection_image_show-%}
<div class="collection-banner">
	{%- if collection.image != blank -%}
	<img class="lazyload" loading="lazy" decoding="async" 
			 src="{{ collection.image.src }}" alt="{{collection.title}}"
			 width="1920" height="450" />
	{%- else -%}
	<img class="lazyload" loading="lazy" decoding="async" 
			 src="{{ 'collection_banner.jpg' | asset_url }}" alt="{{collection.title}}"
			 width="1920" height="450" />
	{%- endif -%}
</div>
{%- endif -%}  
