<div class="product-loop">
	<div class="product-inner">
		<div class="proloop-image">
			<a href="/products/ao-phong-do-hoa-jersey" class="ratio-image">
				<img class="dt-auto lazyloaded" data-src="//product.hstatic.net/200000883969/product/-5-9_f69ee5ff25104175859df5c01b1075b0_8c3452c0c4804cc486f00e1044ce1e86_12a69aaae78544a5a899d04e1580adad_master.jpg" width="300" height="300" src="//product.hstatic.net/200000883969/product/-5-9_f69ee5ff25104175859df5c01b1075b0_8c3452c0c4804cc486f00e1044ce1e86_12a69aaae78544a5a899d04e1580adad_master.jpg" alt="Áo phông đồ họa Jersey">
			</a>
			<span class="pro--price-percent">-45%</span>			
			<div class="pro--list-tags">
				<span class="tag-item" style="--proloop-label-bg: #0cb771;--proloop-label-text: #FFFFFF;">New</span>			
			</div>
		</div>
		<div class="proloop--detail">
			<h3 class="pro--title">
				<a href="/products/ao-phong-do-hoa-jersey">Sản phẩm mẫu {{forloop.index}}</a>
			</h3>
			<div class="block-price">
				<span class="pro--price">
					270,000₫
				</span>
				<span class="pro--price-original"><del>490,000₫</del></span>			</div>
		</div>
	</div>
</div>