.list-social {
  display: flex;
  gap: 12px;
}
.list-social .social-item {
  position: relative;
  line-height: 0;
}
.list-social .social-item:hover svg {
  animation: bounceScale 0.3s ease;
}
.list-social .social-item .icon-svg {
  --icon-width: 20px;
  --icon-height: 20px;
}
.list-social .social-item a {
  color: #000;
  cursor: pointer;
  display: inline-block;
}
.list-social.social--border .social-item {
  border: 1px solid #121212;
  border-radius: 6px;
  padding: 3px;
}
