#block-smart-search {
  position: relative;
  height: 100%;
  display: grid;
  grid-template-rows: 50px auto;
}
#block-smart-search .btn-search {
  position: absolute;
  right: 15px;
  top: 7px;
}
#block-smart-search .btn-search svg {
  fill: transparent;
}
.block-suggest-search {padding-top: 10px}
.block-suggest-search .title {
  font-size: 16px;
  margin-bottom: 6px;
}
.block-suggest-search .item {
  display: inline-block;
  font-weight: 500;
  font-size: 15px;
}
.block-suggest-search .item + .item {margin-left: 10px}
.block-smartsearch-result {
  height: 100%;
  display: grid;
  grid-template-rows: 50px auto;
  overflow-y: hidden;
}
.block-smartsearch-result.has-seemore {
  grid-template-rows: 50px auto 40px;
}
.block-smartsearch-result .smartsearch-result-tabs {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 8px;
  padding-bottom: 15px;
  padding-top: 15px;
}
.block-smartsearch-result .smartsearch-tab--title {
  border-radius: 9999px;
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--smartsearch-text-tab);
  background: var(--smartsearch-bg-tab);
  transition: 0.3s all ease-in-out;
  padding: 8px 16px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}
.block-smartsearch-result .smartsearch-tab--title.active,
.block-smartsearch-result .smartsearch-tab--title:hover {
  color: var(--smartsearch-text-tab-hover);
  background: var(--smartsearch-bg-tab-hover);
}
.block-smartsearch-result .smartsearch-tab--title.active .smartsearch-tab--title__count,
.block-smartsearch-result .smartsearch-tab--title:hover .smartsearch-tab--title__count {
  background: var(--smartsearch-bg);
  color: var(--smartsearch-text);
}
.block-smartsearch-result .smartsearch-tab--title__count {
  display: inline-block;
  font-size: 12px;
  border-radius: 999px;
  background: var(--smartsearch-bg-tab-hover);
  color: var(--smartsearch-text-tab-hover);
  padding: 2px 10px;
  transition: 0.3s all ease-in-out;
}
.block-recommend-search {padding-top: 10px;padding-bottom: 10px}
.block-recommend-search .title {
  font-size: 16px;
  margin-bottom: 6px;
}
.smartsearch-result-container {
  height: 100%;
  overflow-y: scroll;
  padding-bottom: 10px;
  padding-top: 10px;
}
.smartsearch-article-list,
.smartsearch-product-list{
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.smartsearch-item-article,
.smartsearch-product-list .item-ult{
  display: flex;
  gap: 12px;
}
.smartsearch-article--thumb,
.smartsearch-product-list .item-ult__thumbs {
  display: flex;
  width: 100px;
  height: 100px;
  border-radius: 16px;
  overflow: hidden;
}
.smartsearch-article--thumb img.lazyloaded,
.smartsearch-product-list img.lazyloaded{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.smartsearch-article--details,
.item-ult__details{
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.article--thumb__blog {
  --badge-bg: #ff0000;
  --badge-text: #ffffff;
  background-color: var(--badge-bg);
  color: var(--badge-text);
  font-size: 12px;
  font-weight: 500;
  padding: 4px 12px;
  border-radius: 999px;
  display: inline-block;
  width: max-content;
}
.smartsearch-group.search-product .resultsMore,
.smartsearch-group.search-article .resultsMore,
.smartsearch-result-tabs:empty{display: none;}
.smartsearch-result-content > .dataEmpty {
  --bg-color: #ff0000;
  --text-color: #FFF;
  font-weight: bold;
  font-size: 14px;
  padding: 8px 15px;
  border-radius: 8px;
  margin-top: 10px;
  background-color: var(--bg-color);
  color: var(--text-color);
}
.smartsearch-product-list .item-ult {
  align-items: center;
}
.item-ult .f-initial {
  font-weight: bold;
  font-size: 15px;
}
.item-ult .f-initial.f-initial-highlight {
  color: var(--price-contact);
}
.item-ult .f-initial.f-initial-highlight del {
  color: var(--price-compare);
  font-size: 13px;
  display: inline-block;
  margin-left: 5px;
  font-weight: 400;
}
.block-recommend-search .block-product.block-product-horizontal .product-inner .proloop--image {
  flex: auto;
  max-width: 100px;
}
.block-recommend-search .pro--price-percent {
  font-weight: 400;
  padding: 3px 8px;
  font-size: 11px;
  line-height: 1.2;
}
#block-search-modal .block-product.block-product-horizontal .proloop--detail .title a {font-weight: 400;font-size: 15px;}
#block-search-modal .block-product .product-inner {gap: 20px;}
#block-search-modal .swiperStyle .swiper-nav {background-color: transparent;border:unset}
#block-search-modal .swiperStyle .swiper-nav.swiper-button-next {top: -30px;right: 0;}
#block-search-modal .swiperStyle .swiper-nav.swiper-button-prev {
  top: -30px;
  left: auto;
  right: 25px;
}
#block-search-modal .swiperStyle .swiper-nav.swiper-button-next:hover svg,
#block-search-modal .swiperStyle .swiper-nav.swiper-button-prev:hover svg{
  color: initial;
}
#block-search-modal .swiperStyle .swiper-nav svg {
  --icon-width: 14px;
  --icon-height: 14px;
}
