.topbar {
  color: var(--topbar-text);
  background-color: var(--topbar-bg);
  padding: 7px 0;
  margin-bottom: 0;
}
.topbar .wrapper {
  display: flex;
}
.topbar .topbar-social {
  padding-right: 20px;
}
.topbar .topbar-social,
.topbar .topbar-links {
  flex: 1;
  max-width: 20%;
}
.topbar .topbar-content {
  flex: 1;
  max-width: 60%;
  text-align: center;
  align-content: center;
}
.topbar .topbar-content .topbar-item {
  padding-left: 15px;
  padding-right: 15px;
  font-weight: 500;
  line-height: 1.2;
}
.topbar .swiperStyle .swiper-nav {
  display: none;
  background: transparent;
  width: 15px;
  height: 25px;
  border: none;
}
.topbar .swiperStyle .swiper-nav:hover {
  background: unset;
  border: unset;
}
.topbar .swiperStyle .swiper-nav:hover svg {
  color: inherit;
}
.topbar .swiperStyle .swiper-nav.swiper-button-next {
  right: 0;
}
.topbar .swiperStyle .swiper-nav.swiper-button-prev {
  left: 0;
}
.topbar .topbar-links {
  display: flex;
  justify-content: end;
  align-items: center;
  padding-left: 20px;
  gap: 20px;
}
.topbar .topbar-links a {
  font-weight: 500;
  font-size: 14px;
}
.topbar .topbar-content .topbar-item a,
.topbar .topbar-links a {
  color: currentcolor;
}
.topbar .topbar-content .topbar-item a:hover,
.topbar .topbar-links a:hover {
  
}
@media (max-width: 992px) {
  .topbar .wrapper {flex-direction: column;align-items: center;}
  .topbar .topbar-links{display: none;}
  .topbar .topbar-content {max-width: 100%;}
  .topbar .topbar-social {max-width: 100%;padding-right: 0;margin-bottom: 8px;}
  .topbar .swiperStyle .swiper-nav.swiper-button-next {right: -15px;}
  .topbar .swiperStyle .swiper-nav.swiper-button-next svg {
    --icon-width: 12px;
    --icon-height: 12px;
  }
  .topbar .swiperStyle .swiper-nav.swiper-button-prev {left: -15px;}
  .topbar .swiperStyle .swiper-nav.swiper-button-prev svg {
    --icon-width: 12px;
    --icon-height: 12px;
  }
  .topbar .topbar-content .topbar-item {
    font-size: 13px;
    padding: 0;
  }
}