{{article.content}}
<blockquote class="tiktok-embed" cite="https://www.tiktok.com/@jasonmoments/video/7470990395606830358" data-video-id="7470990395606830358" style="max-width: 605px;min-width: 325px;" > <section> <a target="_blank" title="@jasonmoments" href="https://www.tiktok.com/@jasonmoments?refer=embed">@jasonmoments</a> <p></p> <a target="_blank" title="♬ original sound - Jason Moments" href="https://www.tiktok.com/music/original-sound-7470990405409688342?refer=embed">♬ original sound - Jason Moments</a> </section> </blockquote> 
<script async src="https://www.tiktok.com/embed.js"></script>
