{% paginate collection.products by settings.pagination_limit %}
<div class="collection-layout collection-default" id="collection-page" data-id="{{coll_id}}" data-handle="{{collectionUrl}}">
  {%- include 'breadcrumb' -%}
  {%- include 'collection-banner' -%}
  {%- include 'collection-style-column' -%}
</div>
{% endpaginate %}  
<input type="text" class="d-none" id="coll-handle" value="{% if collection.handle == 'all' %}(collectionid:product>0){% else %}(collectionid:product={{collection.id}}){% endif %}" />
<script defer>
	document.addEventListener("DOMContentLoaded", function() {
	window.PHC.Collection.Config = {
		pushHandle: true,
		idColl: {{collection.id | default: 0}},
    hasFilter: false,
    hasSortby: false,
		variant: [],
    available: [],
		type: [],
		vendor: [],
		price: [],
		tag1: [],
		tag2: [],
		tag3: [],
		sortby: [],
    sortbyFilter: [],
		current_page: 1,
		total_page: 1,
		query: "",
    param: "",
		query_final: "",
	};
	//console.log(PHC.Collection.Config)
	})
</script>
