<h1 class="d-none">{{shop.name}}</h1>
{%- for i in (1..14) -%}
{%- capture sectionname -%}section_home_{{i}}{%- endcapture -%}
{%- if settings[sectionname] != 'none' -%}
{%- include settings[sectionname] -%}
{%- endif -%}
{%- endfor -%}
